.slider_image_1 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url("../src/assets/slider_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12px;
}
.slider_image_2 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url("../src/assets/slider_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12px;
}
.slider_image_3 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url("../src/assets/slider_3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12px;
}
.slider_image_4 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url("../src/assets/slider_4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12px;
}
