.background {
  background: var(--body_background);
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: var(--body_color);
}

a {
  color: var(--link_color);
}
p {
  color: var(--body_color);
}
